In [94]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

Часть №1

№3

In [95]:
housing_df = pd.read_csv('housing.csv')

housing_train_val, housing_test = train_test_split(housing_df, test_size=0.1)
housing_train, housing_val = train_test_split(housing_train_val, test_size = 0.1)

DUMMY_SEP = '__'
housing_train_dummies = pd.get_dummies(housing_train, prefix_sep=DUMMY_SEP, columns=['ocean_proximity'])

In [96]:
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [97]:
housing_train.shape

(16718, 10)

In [98]:
housing_val.shape

(1858, 10)

In [99]:
housing_test.shape

(2064, 10)

In [100]:
housing_train_dummies

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
4883,-118.26,34.02,38.0,1091.0,349.0,1786.0,340.0,2.1310,136500.0,1,0,0,0,0
6405,-118.01,34.13,36.0,1332.0,217.0,648.0,203.0,4.7159,365900.0,0,1,0,0,0
18649,-121.99,36.96,16.0,875.0,201.0,300.0,157.0,2.6250,377300.0,0,0,0,0,1
9055,-118.13,34.69,32.0,3670.0,765.0,1986.0,673.0,3.6820,108800.0,0,1,0,0,0
14336,-117.17,32.72,44.0,626.0,256.0,572.0,229.0,1.5909,262500.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10140,-117.89,33.92,14.0,1562.0,373.0,609.0,328.0,2.3935,125000.0,1,0,0,0,0
11073,-117.84,33.84,23.0,4388.0,864.0,2526.0,846.0,4.5217,219400.0,1,0,0,0,0
15106,-117.01,32.84,23.0,1951.0,395.0,901.0,378.0,3.1023,143300.0,1,0,0,0,0
2689,-115.53,32.97,34.0,2231.0,545.0,1568.0,510.0,1.5217,60300.0,0,1,0,0,0
2486,-120.37,36.15,34.0,2084.0,339.0,868.0,347.0,4.3810,86300.0,0,1,0,0,0

In [101]:
train_dummy_columns = [c for c in housing_train_dummies.columns if DUMMY_SEP in c]
dummy_columns_to_remove = [c for c in train_dummy_columns if housing_train_dummies[c].sum() < 10]

In [102]:
dummy_columns_to_remove

['ocean_proximity__ISLAND']

In [103]:
housing_train_dummies = housing_train_dummies.drop(dummy_columns_to_remove, axis=1)

In [104]:
housing_train_dummies

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
4883,-118.26,34.02,38.0,1091.0,349.0,1786.0,340.0,2.1310,136500.0,1,0,0,0
6405,-118.01,34.13,36.0,1332.0,217.0,648.0,203.0,4.7159,365900.0,0,1,0,0
18649,-121.99,36.96,16.0,875.0,201.0,300.0,157.0,2.6250,377300.0,0,0,0,1
9055,-118.13,34.69,32.0,3670.0,765.0,1986.0,673.0,3.6820,108800.0,0,1,0,0
14336,-117.17,32.72,44.0,626.0,256.0,572.0,229.0,1.5909,262500.0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10140,-117.89,33.92,14.0,1562.0,373.0,609.0,328.0,2.3935,125000.0,1,0,0,0
11073,-117.84,33.84,23.0,4388.0,864.0,2526.0,846.0,4.5217,219400.0,1,0,0,0
15106,-117.01,32.84,23.0,1951.0,395.0,901.0,378.0,3.1023,143300.0,1,0,0,0
2689,-115.53,32.97,34.0,2231.0,545.0,1568.0,510.0,1.5217,60300.0,0,1,0,0
2486,-120.37,36.15,34.0,2084.0,339.0,868.0,347.0,4.3810,86300.0,0,1,0,0

In [105]:
housing_train_dummies['average_rooms'] = housing_train_dummies['total_rooms']/housing_train_dummies['households']
housing_train_dummies['average_bedrooms'] = housing_train_dummies['total_bedrooms']/housing_train_dummies['households']
housing_train_dummies = housing_train_dummies.drop(['total_rooms','total_bedrooms'], axis=1)

In [106]:
housing_train_dummies

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
4883,-118.26,34.02,38.0,1786.0,340.0,2.1310,136500.0,1,0,0,0,3.208824,1.026471
6405,-118.01,34.13,36.0,648.0,203.0,4.7159,365900.0,0,1,0,0,6.561576,1.068966
18649,-121.99,36.96,16.0,300.0,157.0,2.6250,377300.0,0,0,0,1,5.573248,1.280255
9055,-118.13,34.69,32.0,1986.0,673.0,3.6820,108800.0,0,1,0,0,5.453195,1.136701
14336,-117.17,32.72,44.0,572.0,229.0,1.5909,262500.0,0,0,0,1,2.733624,1.117904
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10140,-117.89,33.92,14.0,609.0,328.0,2.3935,125000.0,1,0,0,0,4.762195,1.137195
11073,-117.84,33.84,23.0,2526.0,846.0,4.5217,219400.0,1,0,0,0,5.186761,1.021277
15106,-117.01,32.84,23.0,901.0,378.0,3.1023,143300.0,1,0,0,0,5.161376,1.044974
2689,-115.53,32.97,34.0,1568.0,510.0,1.5217,60300.0,0,1,0,0,4.374510,1.068627
2486,-120.37,36.15,34.0,868.0,347.0,4.3810,86300.0,0,1,0,0,6.005764,0.976945

In [107]:
sum(housing_train_dummies['average_bedrooms'].isnull())

170

Для 170 элементов отсутсвует признак average_bedrooms.

In [108]:
housing_train_dummies.sample(10)

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
7169,-118.18,34.06,33.0,266.0,56.0,0.8941,98200.0,1,0,0,0,4.964286,1.267857
7343,-118.14,33.96,38.0,620.0,132.0,2.1731,143800.0,1,0,0,0,4.469697,1.053030
5329,-118.46,34.05,25.0,3136.0,1844.0,2.6509,410000.0,1,0,0,0,3.742950,1.159436
17843,-121.87,37.43,22.0,2118.0,621.0,6.2892,254200.0,1,0,0,0,6.127214,0.959742
13647,-117.31,34.08,40.0,1528.0,469.0,1.9375,69900.0,0,1,0,0,4.287846,1.055437
11263,-117.99,33.79,35.0,2272.0,454.0,3.9566,167800.0,1,0,0,0,5.068282,1.028634
5511,-118.42,33.99,35.0,1079.0,394.0,4.5521,263800.0,1,0,0,0,4.375635,1.063452
14248,-117.10,32.72,5.0,1094.0,394.0,2.2024,137200.0,0,0,0,1,4.098985,0.982234
4568,-118.26,34.06,42.0,3974.0,1189.0,1.5854,87500.0,1,0,0,0,2.137090,1.078217
5207,-118.29,33.92,40.0,1616.0,433.0,2.8750,120200.0,1,0,0,0,4.468822,1.064665

Взяв случайные данные из таблицы можно сказать, что среднее колчество спален примерно равно 0,25 количества комнат.

In [109]:
nan_indexes = housing_train_dummies[housing_train_dummies['average_bedrooms'].isnull()].index
fill_data = housing_train_dummies['average_rooms']*0.25
housing_train_dummies.loc[nan_indexes, 'average_bedrooms'] = pd.Series(fill_data, index=nan_indexes)

In [110]:
sum(housing_train_dummies['average_bedrooms'].isnull())

0

In [111]:
longitude_array = np.array(housing_train_dummies['longitude'])
latitude_array = np.array(housing_train_dummies['latitude'])

normalized_longitude = preprocessing.normalize([longitude_array])
normalized_latitude = preprocessing.normalize([latitude_array])

housing_train_dummies.loc[:,'longitude'] = normalized_longitude[0]
housing_train_dummies.loc[:,'latitude'] = normalized_latitude[0]

In [117]:
housing_train_dummies

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
4883,-0.007648,0.007371,38.0,1786.0,340.0,2.1310,136500.0,1,0,0,0,3.208824,1.026471
6405,-0.007632,0.007395,36.0,648.0,203.0,4.7159,365900.0,0,1,0,0,6.561576,1.068966
18649,-0.007890,0.008008,16.0,300.0,157.0,2.6250,377300.0,0,0,0,1,5.573248,1.280255
9055,-0.007640,0.007516,32.0,1986.0,673.0,3.6820,108800.0,0,1,0,0,5.453195,1.136701
14336,-0.007578,0.007090,44.0,572.0,229.0,1.5909,262500.0,0,0,0,1,2.733624,1.117904
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10140,-0.007624,0.007350,14.0,609.0,328.0,2.3935,125000.0,1,0,0,0,4.762195,1.137195
11073,-0.007621,0.007332,23.0,2526.0,846.0,4.5217,219400.0,1,0,0,0,5.186761,1.021277
15106,-0.007568,0.007116,23.0,901.0,378.0,3.1023,143300.0,1,0,0,0,5.161376,1.044974
2689,-0.007472,0.007144,34.0,1568.0,510.0,1.5217,60300.0,0,1,0,0,4.374510,1.068627
2486,-0.007785,0.007833,34.0,868.0,347.0,4.3810,86300.0,0,1,0,0,6.005764,0.976945

In [113]:
def get_dummies_for_test(train_columns, test_df, dummy_sep):
    initial_df = pd.get_dummies(test_df, prefix_sep=dummy_sep)
    missing_in_test = set(train_columns) - set(initial_df.columns)
    
    for c in missing_in_test:
        initial_df[c] = 0
    return initial_df.loc[:,train_columns].copy()

In [118]:
housing_test_dummies = get_dummies_for_test(housing_train_dummies.columns, housing_train_dummies, DUMMY_SEP)
housing_val_dummies = get_dummies_for_test(housing_train_dummies.columns, housing_train_dummies, DUMMY_SEP)

In [120]:
housing_val_dummies

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN,average_rooms,average_bedrooms
4883,-0.007648,0.007371,38.0,1786.0,340.0,2.1310,136500.0,1,0,0,0,3.208824,1.026471
6405,-0.007632,0.007395,36.0,648.0,203.0,4.7159,365900.0,0,1,0,0,6.561576,1.068966
18649,-0.007890,0.008008,16.0,300.0,157.0,2.6250,377300.0,0,0,0,1,5.573248,1.280255
9055,-0.007640,0.007516,32.0,1986.0,673.0,3.6820,108800.0,0,1,0,0,5.453195,1.136701
14336,-0.007578,0.007090,44.0,572.0,229.0,1.5909,262500.0,0,0,0,1,2.733624,1.117904
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10140,-0.007624,0.007350,14.0,609.0,328.0,2.3935,125000.0,1,0,0,0,4.762195,1.137195
11073,-0.007621,0.007332,23.0,2526.0,846.0,4.5217,219400.0,1,0,0,0,5.186761,1.021277
15106,-0.007568,0.007116,23.0,901.0,378.0,3.1023,143300.0,1,0,0,0,5.161376,1.044974
2689,-0.007472,0.007144,34.0,1568.0,510.0,1.5217,60300.0,0,1,0,0,4.374510,1.068627
2486,-0.007785,0.007833,34.0,868.0,347.0,4.3810,86300.0,0,1,0,0,6.005764,0.976945