In [140]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler as ss
from sklearn.linear_model import LinearRegression

Часть №1

№3

In [141]:
housing_df = pd.read_csv('housing.csv')

In [142]:
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [143]:
DUMMY_SEP = '__'
housing_df_dummies = pd.get_dummies(housing_df, prefix_sep=DUMMY_SEP, columns=['ocean_proximity'])

In [144]:
housing_df_dummies

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0

In [145]:
dummy_columns = [c for c in housing_df_dummies.columns if DUMMY_SEP in c]

In [146]:
housing_df_dummies

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0

In [147]:
housing_train_val, housing_test = train_test_split(housing_df_dummies, test_size=0.1)
housing_train, housing_val = train_test_split(housing_train_val, test_size = 0.1)

In [148]:
housing_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
8804,-118.42,33.75,22.0,17591.0,2604.0,6897.0,2492.0,8.2831,500001.0,0,0,0,0,1
14781,-117.09,32.57,10.0,2198.0,368.0,1645.0,350.0,4.5547,160700.0,0,0,0,0,1
6084,-117.89,34.09,36.0,1811.0,320.0,1005.0,332.0,5.5629,188300.0,1,0,0,0,0
13259,-117.68,34.10,11.0,7392.0,1796.0,3841.0,1621.0,2.8326,163000.0,0,1,0,0,0
17604,-121.89,37.30,47.0,2355.0,426.0,961.0,428.0,5.3955,282300.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11101,-117.87,33.82,26.0,2435.0,346.0,1088.0,350.0,5.9397,249400.0,1,0,0,0,0
829,-122.08,37.61,26.0,2261.0,443.0,1039.0,395.0,3.7931,203900.0,0,0,0,1,0
20463,-118.75,34.27,20.0,3495.0,449.0,1629.0,428.0,5.8096,264400.0,1,0,0,0,0
17358,-120.43,34.87,26.0,1699.0,272.0,799.0,266.0,3.9871,157700.0,1,0,0,0,0
15683,-122.43,37.80,52.0,2520.0,649.0,959.0,607.0,5.7934,500001.0,0,0,0,1,0

In [149]:
housing_train.insert(3,'average_rooms',housing_train.loc[:,'total_rooms']/housing_train.loc[:,'households'])
housing_train.insert(4,'average_bedrooms',housing_train.loc[:,'total_bedrooms']/housing_train.loc[:,'households'])
housing_train = housing_train.drop(['total_rooms','total_bedrooms'], axis=1)

In [150]:
housing_train

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
8804,-118.42,33.75,22.0,7.058989,1.044944,6897.0,2492.0,8.2831,500001.0,0,0,0,0,1
14781,-117.09,32.57,10.0,6.280000,1.051429,1645.0,350.0,4.5547,160700.0,0,0,0,0,1
6084,-117.89,34.09,36.0,5.454819,0.963855,1005.0,332.0,5.5629,188300.0,1,0,0,0,0
13259,-117.68,34.10,11.0,4.560148,1.107958,3841.0,1621.0,2.8326,163000.0,0,1,0,0,0
17604,-121.89,37.30,47.0,5.502336,0.995327,961.0,428.0,5.3955,282300.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11101,-117.87,33.82,26.0,6.957143,0.988571,1088.0,350.0,5.9397,249400.0,1,0,0,0,0
829,-122.08,37.61,26.0,5.724051,1.121519,1039.0,395.0,3.7931,203900.0,0,0,0,1,0
20463,-118.75,34.27,20.0,8.165888,1.049065,1629.0,428.0,5.8096,264400.0,1,0,0,0,0
17358,-120.43,34.87,26.0,6.387218,1.022556,799.0,266.0,3.9871,157700.0,1,0,0,0,0
15683,-122.43,37.80,52.0,4.151565,1.069193,959.0,607.0,5.7934,500001.0,0,0,0,1,0

In [151]:
housing_test.insert(3,'average_rooms',housing_test.loc[:,'total_rooms']/housing_test.loc[:,'households'])
housing_test.insert(4,'average_bedrooms',housing_test.loc[:,'total_bedrooms']/housing_test.loc[:,'households'])
housing_test = housing_test.drop(['total_rooms','total_bedrooms'], axis=1)

In [152]:
housing_test

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
10895,-117.86,33.72,32.0,4.222543,0.982659,1909.0,346.0,3.5511,159100.0,1,0,0,0,0
4958,-118.29,34.01,42.0,4.329787,1.186170,511.0,188.0,2.3942,123200.0,1,0,0,0,0
2964,-119.05,35.34,17.0,5.643026,1.033097,1204.0,423.0,4.0529,106200.0,0,1,0,0,0
5620,-118.25,33.78,32.0,2.225564,1.045113,511.0,133.0,1.4444,182100.0,0,0,0,0,1
9174,-118.52,34.39,21.0,4.481997,1.043372,3384.0,1222.0,3.6625,228100.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9365,-122.54,37.94,26.0,5.037879,1.015152,1550.0,792.0,5.1834,405500.0,0,0,0,1,0
5942,-117.88,34.14,23.0,7.280757,1.015773,1001.0,317.0,7.5112,355500.0,0,1,0,0,0
12049,-117.56,33.88,36.0,4.655556,1.166667,722.0,180.0,2.4861,96200.0,0,1,0,0,0
1806,-122.34,37.93,32.0,4.090753,1.116438,1672.0,584.0,1.4423,88300.0,0,0,0,1,0
7747,-118.16,33.92,36.0,5.759777,0.980447,1134.0,358.0,4.4881,218900.0,1,0,0,0,0

In [153]:
housing_val.insert(3,'average_rooms',housing_val.loc[:,'total_rooms']/housing_val.loc[:,'households'])
housing_val.insert(4,'average_bedrooms',housing_val.loc[:,'total_bedrooms']/housing_val.loc[:,'households'])
housing_val = housing_val.drop(['total_rooms','total_bedrooms'], axis=1)

In [154]:
housing_val

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
19546,-121.00,37.63,31.0,3.257576,0.939394,192.0,66.0,1.7500,73800.0,0,1,0,0,0
6949,-118.08,34.00,32.0,3.227147,0.991690,997.0,361.0,0.9817,166300.0,1,0,0,0,0
14720,-117.02,32.80,27.0,6.334225,0.989305,927.0,374.0,4.1162,177200.0,1,0,0,0,0
9655,-120.63,36.98,20.0,4.712871,0.968317,1581.0,505.0,2.0595,61300.0,0,1,0,0,0
19140,-122.70,38.31,14.0,6.297405,1.157685,1208.0,501.0,4.1964,258100.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4006,-118.63,34.16,33.0,7.046229,1.107056,1116.0,411.0,6.0192,347700.0,1,0,0,0,0
12678,-121.38,38.55,23.0,6.065217,0.934783,1407.0,460.0,4.3288,133700.0,0,1,0,0,0
15088,-116.91,32.81,22.0,6.622324,0.974006,1952.0,654.0,5.4834,232000.0,1,0,0,0,0
15062,-116.96,32.80,16.0,3.831867,1.069404,2612.0,1023.0,1.3291,120800.0,1,0,0,0,0
13998,-116.96,34.83,30.0,5.265217,1.256522,611.0,230.0,1.6667,44700.0,0,1,0,0,0

In [155]:
sum(housing_train['average_bedrooms'].isnull())

176

In [156]:
sum(housing_test['average_bedrooms'].isnull())

15

In [157]:
sum(housing_val['average_bedrooms'].isnull())

16

Для 207 элементов отсутсвует признак average_bedrooms.

In [158]:
housing_train_without_na=housing_train.dropna(axis=0)

In [159]:
housing_train_without_na

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
8804,-118.42,33.75,22.0,7.058989,1.044944,6897.0,2492.0,8.2831,500001.0,0,0,0,0,1
14781,-117.09,32.57,10.0,6.280000,1.051429,1645.0,350.0,4.5547,160700.0,0,0,0,0,1
6084,-117.89,34.09,36.0,5.454819,0.963855,1005.0,332.0,5.5629,188300.0,1,0,0,0,0
13259,-117.68,34.10,11.0,4.560148,1.107958,3841.0,1621.0,2.8326,163000.0,0,1,0,0,0
17604,-121.89,37.30,47.0,5.502336,0.995327,961.0,428.0,5.3955,282300.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11101,-117.87,33.82,26.0,6.957143,0.988571,1088.0,350.0,5.9397,249400.0,1,0,0,0,0
829,-122.08,37.61,26.0,5.724051,1.121519,1039.0,395.0,3.7931,203900.0,0,0,0,1,0
20463,-118.75,34.27,20.0,8.165888,1.049065,1629.0,428.0,5.8096,264400.0,1,0,0,0,0
17358,-120.43,34.87,26.0,6.387218,1.022556,799.0,266.0,3.9871,157700.0,1,0,0,0,0
15683,-122.43,37.80,52.0,4.151565,1.069193,959.0,607.0,5.7934,500001.0,0,0,0,1,0

In [160]:
lin_reg = LinearRegression()
X_train = housing_train_without_na[['average_rooms']]
y_train = housing_train_without_na['average_bedrooms']
lin_reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [161]:
housing_train_br_nan = housing_train['average_bedrooms'].isnull()

In [162]:
housing_train_br_nan

8804     False
14781    False
6084     False
13259    False
17604    False
         ...
11101    False
829      False
20463    False
17358    False
15683    False
Name: average_bedrooms, Length: 16718, dtype: bool

In [163]:
housing_train_ar = housing_train.loc[housing_train_br_nan, ['average_rooms']]

In [164]:
housing_train_ar

       average_rooms
9942        4.861111
19833       4.372014
6241        5.062374
5751        6.165644
5216        3.432900
...              ...
19252       4.866192
5059        5.041389
4043        5.677419
3921        5.640199
19332       6.142857

[176 rows x 1 columns]

In [165]:
housing_train.loc[housing_train_br_nan, 'average_bedrooms'] = lin_reg.predict((housing_train_ar))

In [166]:
sum(housing_train['average_bedrooms'].isnull())

0

In [167]:
housing_test_br_nan = housing_test['average_bedrooms'].isnull()
housing_test_ar = housing_test.loc[housing_test_br_nan, ['average_rooms']]
housing_test.loc[housing_test_br_nan, 'average_bedrooms'] = lin_reg.predict((housing_test_ar))

In [168]:
sum(housing_test['average_bedrooms'].isnull())

0

In [169]:
housing_val_br_nan = housing_val['average_bedrooms'].isnull()
housing_val_ar = housing_val.loc[housing_val_br_nan, ['average_rooms']]
housing_val.loc[housing_val_br_nan, 'average_bedrooms'] = lin_reg.predict((housing_val_ar))

In [170]:
sum(housing_val['average_bedrooms'].isnull())

0

In [171]:
ss_longitude_latitude = ss().fit(housing_train[['longitude','latitude']])

In [172]:
housing_train[['longitude','latitude']]= ss_longitude_latitude.transform(housing_train[['longitude','latitude']])
housing_test[['longitude','latitude']]= ss_longitude_latitude.transform(housing_test[['longitude','latitude']])
housing_val[['longitude','latitude']]= ss_longitude_latitude.transform(housing_val[['longitude','latitude']])

In [173]:
housing_train

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
8804,0.570585,-0.876933,22.0,7.058989,1.044944,6897.0,2492.0,8.2831,500001.0,0,0,0,0,1
14781,1.234090,-1.429562,10.0,6.280000,1.051429,1645.0,350.0,4.5547,160700.0,0,0,0,0,1
6084,0.834989,-0.717701,36.0,5.454819,0.963855,1005.0,332.0,5.5629,188300.0,1,0,0,0,0
13259,0.939753,-0.713018,11.0,4.560148,1.107958,3841.0,1621.0,2.8326,163000.0,0,1,0,0,0
17604,-1.160514,0.785637,47.0,5.502336,0.995327,961.0,428.0,5.3955,282300.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11101,0.844967,-0.844150,26.0,6.957143,0.988571,1088.0,350.0,5.9397,249400.0,1,0,0,0,0
829,-1.255300,0.930819,26.0,5.724051,1.121519,1039.0,395.0,3.7931,203900.0,0,0,0,1,0
20463,0.405956,-0.633402,20.0,8.165888,1.049065,1629.0,428.0,5.8096,264400.0,1,0,0,0,0
17358,-0.432155,-0.352404,26.0,6.387218,1.022556,799.0,266.0,3.9871,157700.0,1,0,0,0,0
15683,-1.429906,1.019802,52.0,4.151565,1.069193,959.0,607.0,5.7934,500001.0,0,0,0,1,0

In [174]:
print(housing_train['longitude'].to_numpy().mean(axis = 0))
print(housing_train['longitude'].to_numpy().std(axis = 0))
print(housing_train['latitude'].to_numpy().mean(axis = 0))
print(housing_train['latitude'].to_numpy().std(axis = 0))

-1.7302425393464337e-15
0.9999999999999999
1.7514933688643217e-15
1.0

In [175]:
housing_test

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
10895,0.849955,-0.890983,32.0,4.222543,0.982659,1909.0,346.0,3.5511,159100.0,1,0,0,0,0
4958,0.635439,-0.755168,42.0,4.329787,1.186170,511.0,188.0,2.3942,123200.0,1,0,0,0,0
2964,0.256293,-0.132289,17.0,5.643026,1.033097,1204.0,423.0,4.0529,106200.0,0,1,0,0,0
5620,0.655394,-0.862883,32.0,2.225564,1.045113,511.0,133.0,1.4444,182100.0,0,0,0,0,1
9174,0.520698,-0.577202,21.0,4.481997,1.043372,3384.0,1222.0,3.6625,228100.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9365,-1.484783,1.085368,26.0,5.037879,1.015152,1550.0,792.0,5.1834,405500.0,0,0,0,1,0
5942,0.839978,-0.694285,23.0,7.280757,1.015773,1001.0,317.0,7.5112,355500.0,0,1,0,0,0
12049,0.999618,-0.816051,36.0,4.655556,1.166667,722.0,180.0,2.4861,96200.0,0,1,0,0,0
1806,-1.385008,1.080684,32.0,4.090753,1.116438,1672.0,584.0,1.4423,88300.0,0,0,0,1,0
7747,0.700293,-0.797317,36.0,5.759777,0.980447,1134.0,358.0,4.4881,218900.0,1,0,0,0,0

In [176]:
housing_val

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
19546,-0.716514,0.940186,31.0,3.257576,0.939394,192.0,66.0,1.7500,73800.0,0,1,0,0,0
6949,0.740203,-0.759851,32.0,3.227147,0.991690,997.0,361.0,0.9817,166300.0,1,0,0,0,0
14720,1.269011,-1.321847,27.0,6.334225,0.989305,927.0,374.0,4.1162,177200.0,1,0,0,0,0
9655,-0.531930,0.635771,20.0,4.712871,0.968317,1581.0,505.0,2.0595,61300.0,0,1,0,0,0
19140,-1.564603,1.258650,14.0,6.297405,1.157685,1208.0,501.0,4.1964,258100.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4006,0.465821,-0.684918,33.0,7.046229,1.107056,1116.0,411.0,6.0192,347700.0,1,0,0,0,0
12678,-0.906087,1.371049,23.0,6.065217,0.934783,1407.0,460.0,4.3288,133700.0,0,1,0,0,0
15088,1.323887,-1.317163,22.0,6.622324,0.974006,1952.0,654.0,5.4834,232000.0,1,0,0,0,0
15062,1.298944,-1.321847,16.0,3.831867,1.069404,2612.0,1023.0,1.3291,120800.0,1,0,0,0,0
13998,1.298944,-0.371137,30.0,5.265217,1.256522,611.0,230.0,1.6667,44700.0,0,1,0,0,0