In [77]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

Часть №1

№3

In [269]:
housing_df = pd.read_csv('housing.csv')

In [270]:
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [271]:
DUMMY_SEP = '__'
housing_df_dummies = pd.get_dummies(housing_df, prefix_sep=DUMMY_SEP, columns=['ocean_proximity'])

In [272]:
housing_df_dummies

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0

In [273]:
dummy_columns = [c for c in housing_df_dummies.columns if DUMMY_SEP in c]
dummy_columns_to_remove = [c for c in dummy_columns if housing_df_dummies[c].sum() < 10]

In [274]:
dummy_columns_to_remove

['ocean_proximity__ISLAND']

In [275]:
housing_df_dummies = housing_df_dummies.drop(dummy_columns_to_remove, axis=1)

In [276]:
housing_df_dummies

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0

In [277]:
housing_train_val, housing_test = train_test_split(housing_df_dummies, test_size=0.1)
housing_train, housing_val = train_test_split(housing_train_val, test_size = 0.1)

In [278]:
housing_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
1788,-122.36,37.94,43.0,369.0,107.0,371.0,111.0,1.6000,79400.0,0,0,1,0
1462,-122.00,37.96,32.0,3364.0,666.0,1980.0,678.0,3.7000,179000.0,0,1,0,0
10425,-117.63,33.47,4.0,1969.0,280.0,805.0,271.0,7.6012,310800.0,0,0,0,1
13920,-115.52,34.22,30.0,540.0,136.0,122.0,63.0,1.3333,42500.0,0,1,0,0
13384,-117.60,34.11,18.0,6025.0,1062.0,3360.0,1028.0,4.8889,155700.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8504,-118.30,33.88,26.0,1221.0,312.0,807.0,330.0,4.0536,253600.0,1,0,0,0
13774,-117.05,34.04,23.0,3967.0,766.0,1518.0,698.0,2.2900,111800.0,0,1,0,0
12134,-117.16,33.92,12.0,3236.0,502.0,1610.0,502.0,4.7568,143500.0,0,1,0,0
11709,-120.18,39.14,25.0,2171.0,386.0,248.0,116.0,3.0375,171900.0,0,1,0,0
6455,-118.06,34.12,35.0,2053.0,369.0,1044.0,375.0,4.1875,275400.0,0,1,0,0

In [279]:
housing_train.insert(3,'average_rooms',housing_train.loc[:,'total_rooms']/housing_train.loc[:,'households'])
housing_train.insert(4,'average_bedrooms',housing_train.loc[:,'total_bedrooms']/housing_train.loc[:,'households'])
housing_train = housing_train.drop(['total_rooms','total_bedrooms'], axis=1)

In [280]:
housing_train

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
1788,-122.36,37.94,43.0,3.324324,0.963964,371.0,111.0,1.6000,79400.0,0,0,1,0
1462,-122.00,37.96,32.0,4.961652,0.982301,1980.0,678.0,3.7000,179000.0,0,1,0,0
10425,-117.63,33.47,4.0,7.265683,1.033210,805.0,271.0,7.6012,310800.0,0,0,0,1
13920,-115.52,34.22,30.0,8.571429,2.158730,122.0,63.0,1.3333,42500.0,0,1,0,0
13384,-117.60,34.11,18.0,5.860895,1.033074,3360.0,1028.0,4.8889,155700.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8504,-118.30,33.88,26.0,3.700000,0.945455,807.0,330.0,4.0536,253600.0,1,0,0,0
13774,-117.05,34.04,23.0,5.683381,1.097421,1518.0,698.0,2.2900,111800.0,0,1,0,0
12134,-117.16,33.92,12.0,6.446215,1.000000,1610.0,502.0,4.7568,143500.0,0,1,0,0
11709,-120.18,39.14,25.0,18.715517,3.327586,248.0,116.0,3.0375,171900.0,0,1,0,0
6455,-118.06,34.12,35.0,5.474667,0.984000,1044.0,375.0,4.1875,275400.0,0,1,0,0

In [281]:
sum(housing_train['average_bedrooms'].isnull())

166

Для 166 элементов отсутсвует признак average_bedrooms.

In [282]:
housing_train.sample(10)

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
19921,-119.34,36.32,14.0,4.874494,0.919028,633.0,247.0,3.9250,83800.0,0,1,0,0
6728,-118.12,34.11,52.0,7.656593,0.969780,1057.0,364.0,10.2317,500001.0,1,0,0,0
1542,-121.94,37.73,22.0,6.827586,1.003448,861.0,290.0,6.2726,258200.0,1,0,0,0
14030,-117.15,32.75,27.0,3.875153,1.061200,1332.0,817.0,2.6742,171400.0,0,0,0,1
15135,-116.92,32.85,23.0,5.180451,1.011278,767.0,266.0,4.0625,145000.0,1,0,0,0
19467,-120.97,37.68,9.0,6.402299,0.988506,529.0,174.0,4.7159,163700.0,0,1,0,0
15558,-117.07,33.12,12.0,4.637051,1.132325,1251.0,529.0,2.4122,127000.0,1,0,0,0
11100,-117.88,33.82,26.0,5.826797,0.973856,1048.0,306.0,6.0488,232000.0,1,0,0,0
7443,-118.19,33.96,40.0,3.352740,1.013699,934.0,292.0,2.6354,151800.0,1,0,0,0
18542,-122.03,36.97,51.0,4.052632,1.017544,488.0,228.0,2.1964,234400.0,0,0,0,1

Взяв случайные данные из таблицы можно сказать, что среднее колчество спален примерно равно 0,25 количества комнат.

In [283]:
nan_indexes = housing_train[housing_train['average_bedrooms'].isnull()].index
fill_data = housing_train['average_rooms']*0.25
housing_train.loc[nan_indexes, 'average_bedrooms'] = pd.Series(fill_data, index=nan_indexes)

In [284]:
sum(housing_train['average_bedrooms'].isnull())

0

In [289]:
housing_train['longitude'] = preprocessing.scale(housing_train['longitude'])
housing_train['latitude'] = preprocessing.scale(housing_train['latitude'])

In [290]:
housing_train

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
1788,-1.390643,1.080813,43.0,3.324324,0.963964,371.0,111.0,1.6000,79400.0,0,0,1,0
1462,-1.210921,1.090189,32.0,4.961652,0.982301,1980.0,678.0,3.7000,179000.0,0,1,0,0
10425,0.970709,-1.014667,4.0,7.265683,1.033210,805.0,271.0,7.6012,310800.0,0,0,0,1
13920,2.024081,-0.663076,30.0,8.571429,2.158730,122.0,63.0,1.3333,42500.0,0,1,0,0
13384,0.985685,-0.714643,18.0,5.860895,1.033074,3360.0,1028.0,4.8889,155700.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8504,0.636225,-0.822464,26.0,3.700000,0.945455,807.0,330.0,4.0536,253600.0,1,0,0,0
13774,1.260261,-0.747458,23.0,5.683381,1.097421,1518.0,698.0,2.2900,111800.0,0,1,0,0
12134,1.205346,-0.803713,12.0,6.446215,1.000000,1610.0,502.0,4.7568,143500.0,0,1,0,0
11709,-0.302324,1.643358,25.0,18.715517,3.327586,248.0,116.0,3.0375,171900.0,0,1,0,0
6455,0.756040,-0.709955,35.0,5.474667,0.984000,1044.0,375.0,4.1875,275400.0,0,1,0,0

In [292]:
print(housing_train['longitude'].to_numpy().mean(axis = 0))
print(housing_train['longitude'].to_numpy().std(axis = 0))
print(housing_train['latitude'].to_numpy().mean(axis = 0))
print(housing_train['latitude'].to_numpy().std(axis = 0))

2.7201061782896526e-17
1.0
1.3116543249178365e-15
1.0